:root{
    --color-primario:black;
    --color-borde:#fe0000;
    --color-sombra:rgba(201, 6, 6, 0.1);
    --color-fondo:white;
    --color-targeta_titulo:brown;
    --color-descripcion_producto:black;
    --color-precio:rgb(128, 0, 0);
    --color-letras_boton:white;
}

.producto-targeta {
margin-top: 30px;
margin-left: 42%;
border: 1px solid var(--color-borde);
border-radius: 12px;
overflow: hidden;
width: 280px;
box-shadow: 0 2px 6px var(--color-sombra);
background-color: var(--color-fondo);
display: flex;
flex-direction: column;
transition: transform 0.3s ease;
}

.producto-targeta:hover {
transform: translateY(-5px);
}

.producto-targeta__imagen {
width: 100%;
height: auto;
object-fit: cover;
}

.producto-targeta__contenido {
padding: 16px;
display:inline-block;
}

.producto-targeta__titulo {
font-size: 1.2rem;
margin: 0 40% 8px;
color:var(--color-targeta_titulo);
}

.producto-targeta__descripcion {
text-align: justify;
padding: 20px;
font-size: 0.9rem;
color:var(--color-descripcion_producto);
margin-bottom: 12px;
}

.producto-targeta__footer {
display:block;
text-align:center;
}

.producto-targeta__precio {
margin-bottom: 10px;
display: block;
font-weight: bold;
color: var(--color-precio);
font-size: 1rem;
}

.producto-targeta__boton{
margin-bottom: 10px;
background-color:var(--color-precio);
color: var(--color-letras_boton);
border: none;
padding: 8px 12px;
border-radius: 6px;
cursor: pointer;
font-size: 0.9rem;
}


